# Dependencies
node_modules

# Build outputs
dist
dist-ssr
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Environment
.env
.env.*
!.env.example
